#transactions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border-collapse: collapse;
    width: 100%;
  }
  
  #transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
/* #transactions tr:nth-child(even){background-color: #6c9a3e;} */
  
  #transactions tr:hover {background-color:#6c9a3e;}
  
  #transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  thead,
tbody {
  display: block;
}

tbody {
  height: 500px;
  overflow: auto;
}